body {
    font-family: Arial, sans-serif;
    background-color: #3498db;
    margin: 0;
}

.board {
    display: flex;
}

.column {
    align-self: flex-start;
    width: 300px;
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    overflow: hidden;
}

.column-header {
    background-color: #cacaca;
    color: #464646;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

.cards-container {
    padding: 10px;
}

.cross {
    display: none;
    position: absolute;
    text-align: center;
    color: #e42121;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 21px;
    height: 21px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.add-card-btn {
    cursor: pointer;
    color: #3498db;
    margin: 10px;
}

.add-card-btn:hover {
    text-decoration: underline;
}
